
// colors
.mred {
  color: @mred;
}

// v2.2.2 type.less
h2 { font-size: @baseFontSize * 1.75; }
h3 { font-size: @baseFontSize * 1.5; }

// v2.2.2 labels-badges.less
.label,
.badge {
  // Info
  &-info              { background-color: @mred; }
  &-info[href]        { background-color: darken(@mred, 10%); }

  // Info inverse
  &-info-inverse              { color: @mred; background-color: @white; }
  &-info-inverse[href]        { background-color: darken(@white, 10%); }

  // Inverse inverse (dark gray on white)
  &-white              { color: @grayDark; background-color: @white; }
  &-white[href]        { background-color: darken(@grayDark, 10%); }
}

// v2.2.2 progress-bars.less
.progress-chili .bar {
  #gradient > .vertical(@mredLight, @mred);
}
.progress-chili.progress-striped .bar {
  #gradient > .striped(@mredDark);
}

.header {
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer {
  color: @mred;
}
.footer .btn {

  background: transparent;
  border: none;
  .box-shadow(none);

  &:hover {
    color: @mred;
    .border-radius(@baseBorderRadius);
  }
}

// v2.2.2 navbars.less
.navbar .nav {
  background-color: @mredDarker;
  float: right;
}
.navbar .nav > li > a {
  #gradient > .vertical(@mredLight, @mred);
  margin-left: 1px;
  color: @mredLighter;
}
.navbar .nav > li > a:hover {
  #gradient > .vertical(@mredDark, @mred);
}

